* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ff-archivo: "Archivo", sans-serif;

  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;

  --fs-title-lg: 1.5rem;
  --fs-title-md: 1rem;
  --fs-title-sm: 0.875rem;

  --fw-xb: 800;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
}
body {
  background-color: var(--bg-color);
  font-family: var(--ff-archivo);
  font-size: var(--fs-title-lg);
  color: #333;
  line-height: 1.6;
  color: var(--text-color-primary);
  overflow-x: hidden;
}
a {
  font-size: var(--fs-title-sm);
  font-weight: var(--fw-medium);
  color: var(--text-color-secondary);
  text-decoration: none;
}
img {
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .only-desktop {
    display: block;
  }
}
