header {
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    width: 6.25rem;
  }
  .menu-primary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .menu-secondary {
    margin-left: auto;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  ul[rule="list"] {
    max-width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    padding-block: 0.88rem;
    padding-inline: 1rem;
    border-top: 1px solid var(--stroke-color);
    border-bottom: 1px solid var(--stroke-color);
    li {
      white-space: nowrap;
    }
    li a {
      font-weight: var(--fw-bold);
    }
  }
}

.only-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  header {
    margin-inline: auto;
    max-width: 768px;
    width: 100%;
    .logo {
      width: 10rem;
    }
  }
}
@media screen and (min-width: 1440px) {
  header {
    margin: 0 auto;
    max-width: 1440px;
    .menu-primary {
      width: 100%;
      justify-content: space-between;
      padding: 1.25rem 2rem;
    }

    .logo {
      width: 10rem;
    }

    & nav {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &img {
        width: 40px;
      }
      & span {
        font-size: 1rem;
        font-weight: var(--fw-bold);
      }
    }
    ul[rule="list"] {
      padding-inline: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 5rem;
      left: 0;
    }
  }
  .only-desktop {
    display: block;
  }
  ul[rule="list"] {
    padding-block: 1rem;
  }
}
