header {
  margin-inline: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    width: 6.25rem;
  }
  .menu-primary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }
  .menu-secondary {
    margin-left: auto;
    min-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul[rule="list"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-block: 0.88rem;
    border-top: 1px solid var(--stroke-color);
    border-bottom: 1px solid var(--stroke-color);
    li a {
      font-weight: var(--fw-bold);
    }
  }
}

.only-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  header {
    margin: 0 auto;
    max-width: 1024px;
    .menu-primary {
      width: 100%;
      justify-content: space-between;
      margin: 1.25rem 2rem;
    }

    .logo {
      width: 10rem;
    }

    & nav {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &img {
        width: 40px;
      }
      & span {
        font-size: 1rem;
        font-weight: var(--fw-bold);
      }
    }
    ul[rule="list"] {
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 5rem;
      left: 2rem;
    }
  }
  .only-desktop {
    display: block;
  }
  ul[rule="list"] {
    padding-block: 1rem;
  }
}
