section header {
  display: grid;
  grid-auto-flow: column;

  border-top: 1px solid var(--stroke-color);
  padding-block: 0.75rem 1.5rem;

  a {
    justify-self: end;
    align-items: center;
    gap: 0.5rem;

    & span {
      background-image: url("../assets/icons/ArrowRight.svg");
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
    }
    & :hover span {
      background-image: url("../assets/icons/ArrowRight-hover.svg");
      background-repeat: no-repeat;
    }
  }
  & h3,
  a {
    color: var(--text-color-secondary);
    font-size: var(--fs-title-sm);
    font-weight: var(--fw-medium);
  }
}
#banner-news {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;
  margin-block: 2.5rem;
  & .news1 {
    border-radius: 0.25rem;
    position: relative;
    height: 26.5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    overflow: hidden;

    & figcaption {
      position: absolute;
      bottom: 0;
    }
    figcaption {
      padding: 1rem;
    }
  }
  & .news-grid {
    display: grid;
    gap: 1rem;

    & .card {
      border-radius: 0.25rem;

      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      & figcaption {
        position: absolute;
        bottom: 0;
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(180deg, transparent 0%, #020617 100%);
      }
      figcaption {
        padding: 0.75rem;
        h3 {
          color: var(--text-color-primary);
          font-size: var(--fs-title-sm);
          font-weight: 800;
          line-height: 130%;
        }
      }
    }
  }
}
#news2 {
  margin-inline: 2rem;
  .card {
    position: relative;
    margin-bottom: 2rem;

    overflow: hidden;
    height: 100%;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  & h2 {
    margin-top: -0.25rem;
    font-size: var(--fs-title-md);
    font-weight: var(--fw-xb);
  }
  .content-tag {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
  }
}
#news3 {
  .only-mobile {
    display: inline-flex;
  }

  margin-inline: 2rem;
  .news3-grid {
    display: grid;
    gap: 2rem;

    & figure {
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      & figcaption {
        margin-top: -0.9rem;
      }

      & img {
        max-width: 5rem;
        height: 5rem;
      }
      & h2 {
        margin-top: 0.5rem;
        font-size: var(--fs-title-md);
        font-weight: 800;
      }
      & p {
        margin-top: 0.5rem;
        font-size: var(--fs-title-sm);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  #banner-news {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;

    max-width: 768px;
    margin-inline: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;

    & .news-grid {
      display: grid;
      gap: 0.75rem;
      grid-template-columns: 1fr 1fr;
    }
  }
  #news2 {
    padding-inline: 2rem;
    max-width: 768px;
    margin-inline: auto;
    .news2-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 1.5rem;
    }
  }
  #news3 {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 768px;
    .news3-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1440px) {
  #banner-news {
    max-width: 1440px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .news-grid {
      .card {
        height: 12.8rem;
      }
    }
  }
  #news2 {
    padding-inline: 2rem;
    max-width: 1440px;
    margin-inline: auto;
    .news2-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-top: 1.5rem;
    }
  }
  #news3 {
    max-width: 1440px;
    .only-mobile {
      display: none;
    }
    .news3-grid {
      display: grid;
      grid-template-columns: 1fr;
      padding-inline: 3rem;
      & .only-desktop {
        min-width: 11rem;
        height: 11rem;
      }
    }
  }
}
